html{
  font-size:2.083333333333vw;
}
:root{
  --line-color:#d9d9d9
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto","Arial",sans-serif;
  word-break: break-all;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.text-nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
::-webkit-scrollbar{
  width: 5px;
  background-color: #e0e0e0;
}
.ant-layout-header{
  background-color: #fff;
  padding: 0 16px;
  border-bottom: 1px solid #e5e5e5;
}
.ant-layout-sider {
  background-color:#fff;
  border-right: 1px solid #e5e5e5;
}
.ant-layout-content{
  padding: 16px;
}
.ant-tabs-tab{
 padding: 6px 0;
}
input,textarea,button{
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
.profile-drop-style{
  box-shadow: 0 0 15px rgba(0,0,0,.08);
  border-radius: 4px;
  overflow: hidden;
}
.ant-input-textarea,.ant-input-textarea-show-count{
}
.ant-input{
  border-radius: 6px;
}
.ant-layout-content{
  background-color: #fff;
}
.text-nowrap-mul-line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}
.add-new-playlist{
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-new-playlist .add-label{
  margin: 0 0 0 15px;
  padding: 10px 0;
}
.create-playlist{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
.create-playlist p{
  margin: 8px 0 5px 0;
}
.create-playlist .ant-select{
  width: 100%;
}
.create-label{
  font-size: 16px;
  color: #065fd4;
  margin: 18px 0 0 0;
  cursor: pointer;
  width: 100%;
}
.create-playlist .private{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ant-select-item-option-content .private{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.moment-out-of-body-img-container{
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: var(--line-color);
  margin: 15px 0;
}
#root{
  height: 100%;
}
.ant-slider-track {
  background-color: #ea3323;
}
.ant-slider:hover .ant-slider-track {
  background-color: #ea3323;
}
.ant-slider-handle {
  border: solid 2px #ea3323;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #ea3323;
}
.ant-slider{
  margin: 5px 10px;
}
.ant-slider-handle:focus {
  border-color: #ea3323;
}