html{
  font-size:2.083333333333vw;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto","Arial",sans-serif;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.text-nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
::-webkit-scrollbar{
  width: 10px;
}
.ant-layout-header{
  background-color: #fff;
  padding: 0 16px;
  border-bottom: 1px solid #e5e5e5;
}
.ant-layout-sider {
  background-color:#fff;
  border-right: 1px solid #e5e5e5;
}
.ant-layout-content{
  padding: 16px;
}
.ant-tabs-tab{
 padding: 6px 0;
}
input,textarea,button{
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
.profile-drop-style{
  box-shadow: 0 0 15px rgba(0,0,0,.08);
  border-radius: 4px;
  overflow: hidden;
}
.ant-input-textarea,.ant-input-textarea-show-count{
}
.ant-input{
  border-radius: 6px;
}