html {
  font-size: 2.083333333333vw;
}
:root {
  --primary-color: #ff0000;
  --line-color: #dcdfe6;
  --img-bgc: #f5f7fa;
  --el-loading-spinner-size: 30px !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
}
ul,
li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}
.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
