html {
  font-size: 2.083333333333vw;
  height: 100%;
}
body{
  height: 100%;
}
#app{
  width: 100%;
  height: 100%;
}
:root {
  --primary-color: #ff0000;
  --line-color: #dcdfe6;
  --img-bgc: #f5f7fa;
  --el-loading-spinner-size: 30px !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
}
ul,
li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}
.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-mul-line{
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.base-user-info-icon{
  display: flex;
  align-items: center;
}
.base-user-info-icon span {
  margin: 0 0 0 5px;
  color: #409eff;
  cursor: pointer;
}
.g-inner-card {
  height: 100%;
}
